@charset "UTF-8";
/* CSS Document */

/* https://github.com/Demchenko87/rest_rab/blob/05603cde41105de218871f6d69cfcd9f0d8ce66e/assets/plugins/codemirror/cm/theme/one-dark.css */

/* Syntax Theme /---------------------------------------------------------------------------------- */

/* markdown */
.cm-s-inner .cm-header {
  color: #e06c75;
}
.cm-s-inner .cm-quote {
  color: #5c6370;
  font-style: italic;
}
.cm-s-inner .cm-negative {
  color: #e06c75;
}
.cm-s-inner .cm-positive {
  color: #e06c75;
}
.cm-s-inner .cm-strong {
  color: #d19a66;
  font-weight: bold;
}
.cm-s-inner .cm-header .cm-strong {
  color: #d19a66;
  font-weight: bold;
}
.cm-s-inner .cm-em {
  color: #c678dd;
  font-style: italic;
}
.cm-s-inner .cm-header .cm-em {
  color: #c678dd;
  font-style: italic;
}
/* xml, html, ... */
.cm-s-inner .cm-tag {
  color: #e06c75;
}
.cm-s-inner .cm-attribute {
  color: #d19a66;
}
.cm-s-inner .cm-link {
  color: #98c379;
  border-bottom: solid 1px #98c379;
}
/* other ... (for example javascript) */
.cm-s-inner .cm-builtin {
  color: #e06c75;
}
.cm-s-inner .cm-keyword {
  color: #c678dd;
}
.cm-s-inner .cm-def {
  color: #d19a66;
}

.cm-s-inner .cm-atom {
  color: #d19a66;
}
.cm-s-inner .cm-number {
  color: #d19a66;
}
.cm-s-inner .cm-property {
  color: #61afef;
}
/* original: #abb2bf */
.cm-s-inner .cm-qualifier {
  color: #d19a66;
}
.cm-s-inner .cm-variable {
  color: #e06c75;
}
.cm-s-inner .cm-variable-2 {
  color: #abb2bf;
}
.cm-s-inner .cm-variable-3 {
  color: #e5c07b;
}
.cm-s-inner .cm-string {
  color: #98c379;
}
.cm-s-inner .cm-string-2 {
  color: #98c379;
}
.cm-s-inner .cm-punctuation {
  color: #abb2bf;
}
.cm-s-inner .cm-operator {
  color: #abb2bf;
}
.cm-s-inner .cm-meta {
  color: #abb2bf;
}
.cm-s-inner .cm-bracket {
  color: #abb2bf;
}
.cm-s-inner .cm-comment {
  color: #5c6370;
  font-style: italic;
}
.cm-s-inner .cm-modxChunk,
.cm-s-inner .cm-modxSnippet,
.cm-s-inner .cm-modxTv,
.cm-s-inner .cm-modxPlaceholder,
.cm-s-inner .cm-modxSnippetNoCache,
.cm-s-inner .cm-modxVariable,
.cm-s-inner .cm-modxUrl,
.cm-s-inner .cm-modxConfig {
  color: #00d4c0;
  font-weight: 100;
}
.cm-s-inner .cm-modxAttribute {
  color: #009688;
}
.cm-s-inner .cm-modxAttributeValue {
  font-weight: 100;
  color: #ababab;
}
.cm-s-inner .cm-modxBinding {
  color: #a859b5;
  font-weight: 100;
}
