/*
 * yixyll
 * 
 * Ỵịx̣uan's Pix̣ỵḷḷ Theme
 *
 * MIT license
 */

@import "codeblock.light.css" (prefers-color-scheme: light);
@import "mermaid.dark.css" (prefers-color-scheme: dark);
@import "codeblock.dark.css" (prefers-color-scheme: dark);

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #333;
    --bg-color: #fafafa;
    --md-char-color: #777;
    --meta-content-color: #5b808d;

    /* non-standard */
    --dim-text-color: #555;
  }

  ::selection {
    background-color: #333;
    color: #fafafa;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #dcdcdc;
    --bg-color:  #333;
    --md-char-color: #999;
    --meta-content-color: #9bb1b9;

    /* non-standard */
    --dim-text-color: #BBB;
  }

  .typora-sourceview-on #toggle-sourceview-btn {
    background-color: #666;
  }

  ::selection {
    background-color: #dcdcdc;
    color: #333;
  }
}

:root {
  --side-bar-bg-color: var(--bg-color);
  --item-hover-bg-color: var(--bg-color);
  --active-file-bg-color: var(--bg-color);
  --active-file-text-color: var(--text-color);
  --item-hover-text-color: var(--text-color);

  --font-sans: "Noto Sans", "Noto Sans CJK SC", sans-serif;
  --font-serif: "Noto Serif", "Noto Serif CJK SC", serif;
  --font-mono: "Fira Code", "Sarasa Term SC", monospace;
}

body {
  line-height: 1.25;
  font-family: var(--font-body);
}

#write {
  max-width: 914px;
}

@media only screen and (min-width: 1400px) {
  #write {
    max-width: 1100px;
  }
}

@media only screen and (min-width: 1700px) {
  #write {
    max-width: 1200px;
  }
}

h1,
.h1,
.f1 {
	font-size: 2rem;
	line-height: 2.5rem;
}
h2,
.h2,
.f2 {
	font-size: 1.5rem;
	line-height: 2rem;
}
h3,
.h3,
.f3 {
	font-size: 1.25rem;
	line-height: 1.5rem;
}
p,
.p,
.f4,
h4,
h5,
h6,
dl,
ol,
ul,
pre[cid],
div[cid],
#typora-source {
	font-size: 1.125rem;
	line-height: 1.25rem;
}

h4 {
	font-size: 1.13rem;
}

img {
  width: auto;
  max-width: 100%;
}
body {
  font-size: 1.5rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.md-table-edit {
  background: var(--bg-color);
  padding-top: 4px;
}

table {
  width: 100%;
  font-size: 1.125rem;
}
table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td,
table > tfoot > tr > th,
table > tfoot > tr > td {
  padding: 12px;
  line-height: 1.2;
  vertical-align: top;
  border-top: 1px solid var(--text-color);
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--text-color);
}
table > caption + thead > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > th,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 2px solid var(--text-color);
}
p {
  font-weight: normal;
  line-height: 1.5;
  margin: 0.5rem auto;
}
abbr {
  border-bottom: 1px black dotted;
  cursor: help;
}

tt,
pre,
code {
  font-family: var(--font-mono);
}

code,
tt {
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 3px;
  padding: 0;
  padding: 2px 4px 0px 4px;
  font-size: 0.9em;
  font-weight: normal;
}

code {
  background-color: transparent;
  padding: 0 2px 0 2px;
}

.md-fences {
  color: var(--dim-text-color);
}

.md-fences .CodeMirror.CodeMirror-wrap {
  line-height: 1.5rem;
}

.md-fences {
  padding: 1.125em;
  margin-bottom: 0.88em;
  font-size: 1.1rem;
  border: 1px solid var(--dim-text-color);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  font-family: var(--font-mono);
  line-height: 1.5rem;
}

blockquote {
  padding: 1.33em;
  border-left: 5px solid var(--dim-text-color);
  color: var(--dim-text-color);
}
blockquote em {
  color: var(--text-color);
}
blockquote footer {
  font-size: 0.85rem;
  font-style: thin;
  background-color: var(--bg-color);
  color: var(--dim-text-color);
  border-color: transparent;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-title);
  font-weight: bold;
  line-height: 1.2;
  margin: 1em 0 0.5em;
}

@media screen and (min-width: 48em) {
  .h1,
  h1 {
    font-size: 3.25rem;
  }
  .h2,
  h2 {
    font-size: 2.298rem;
  }
  .h3,
  h3 {
    font-size: 1.625rem;
  }
  .h4,
  h4 {
    font-size: 1.3rem;
  }
  #write > h4.md-focus::before,
  #write > h5.md-focus::before,
  #write > h6.md-focus::before {
    top: 1px;
  }
  .p,
  p,
  li {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  table {
    font-size: 1.25rem;
  }
}

@media (max-width: 48em) {
  blockquote {
    margin-left: 1rem;
    margin-right: 0;
    padding: 0.5em;
  }
  .h1,
  h1 {
    font-size: 2.827rem;
  }
  .h2,
  h2 {
    font-size: 1.999rem;
  }
  .h3,
  h3 {
    font-size: 1.413rem;
  }
  .h4,
  h4 {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 64em) {
  .h1,
  h1 {
    font-size: 4.498rem;
  }
  .h2,
  h2 {
    font-size: 2.29rem;
  }
  .h3,
  h3 {
    font-size: 1.9rem;
  }
  .h4,
  h4 {
    font-size: 1.591rem;
  }
  #write > h4.md-focus::before {
    top: 4px;
  }
}

@media print {
  html {
    font-size: 13px;
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  pre {
    word-wrap: break-word;
  }
}

a {
  color: var(--meta-content-color);
  text-decoration: underline;
}

[style*="--color:red"] {
  color: #c02c38; /* 高粱红 */
}

[style*="--color:orange"] {
  color: #f86b1d; /* 金莲花橙 */
}

[style*="--color:yellow"] {
  color: #fcc515; /* 黄连黄 */
}

[style*="--color:green"] {
  color: #207f4c; /* 薄荷绿 */
}

[style*="--color:blue"] {
  color: #0f59a4; /* 飞燕草蓝 */
}

[style*="--color:purple"] {
  color: #813c85; /* 桔梗紫 */
}

#write {
  padding-top: 2rem;
}

#write pre.md-meta-block {
  min-height: 35px;
  padding: 0.5em 1em;
  white-space: pre;
  border: 0px;

  border-left: 30px var(--bg-color) solid;
  border-right: 30px var(--bg-color) solid;
  width: 100vw;
  max-width: calc(100% + 60px);

  margin-left: -30px;
  margin-bottom: 2em;
  margin-top: -2010px;
  padding-top: 2000px;
  padding-bottom: 10px;
  line-height: 1.5em;
  color: var(--dim-text-color);
  background-color: var(--bg-color);
  font-family: var(--font-sans);
  font-weight: normal;
  clear: both;
  padding-left: 0;
  font-size: 1.125rem;
}
.md-image > .md-meta {
  color: #463f5c;
}
.footnotes {
  font-size: 1.1rem;
}
.md-tag {
  font-family: var(--font-sans);
}
.code-tooltip {
  background: var(--bg-color);
}
.code-tooltip-content {
  font-size: 1.1rem;
}

.task-list {
  padding-left: 0;
}

.md-task-list-item {
  padding-left: 34px;
}

.md-task-list-item > input {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  -webkit-appearance: initial;
  top: -0.2rem;
  margin-left: -1.6em;
  margin-top: calc(1rem - 5px);
  border: none;
}

.md-task-list-item > input:focus {
  outline: none;
  box-shadow: none;
}

.md-task-list-item > input::before {
  border: 1px solid var(--dim-text-color);
  border-radius: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--bg-color);
  content: " ";
  transition: background-color 200ms ease-in-out;
  display: block;
}

.md-task-list-item > input:checked::before,
.md-task-list-item > input[checked]::before {
  background: var(--text-color);
  border-width: 0px;
  display: inline-block;
  transition: background-color 200ms ease-in-out;
}

.md-task-list-item > input:checked:after,
.md-task-list-item > input[checked]:after {
  opacity: 1;
}

.md-task-list-item > input:after {
  opacity: 1;
  -webkit-transition: opacity 0.05s ease-in-out;
  -moz-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 0.4375rem;
  left: 0.28125rem;
  width: 0.9375rem;
  height: 0.5rem;
  border: 3px solid var(--bg-color);
  border-top: 0;
  border-right: 0;
  content: " ";
  opacity: 0;
}

.md-tag {
  color: inherit;
}

.md-toc:focus .md-toc-content {
  margin-top: 19px;
}

#typora-sidebar {
  font-size: 1rem !important;
}

.html-for-mac #typora-sidebar {
  background-color: var(--bg-color);
}

.outline-content li,
.outline-content ul {
  font-size: 1rem !important;
}

.outline-title {
  line-height: inherit;
  margin-top: 10px;
}

.outline-expander {
  width: 18px;
}

.outline-expander::before {
  content: "+";
  font-family: inherit;
  color: var(--dim-text-color);
  font-size: 1.5rem;
  top: 0.1rem;
}

.outline-expander:hover::before {
  content: "+";
}

.outline-item-open > .outline-item > .outline-expander::before {
  content: "-";
}

/** source code mode */
#typora-source {
  font-family: var(--font-mono);
  color: var(--dim-text-color);
}

.os-windows #typora-source {
  font-family: inherit;
}

.cm-s-typora-default .cm-header,
.cm-s-typora-default .cm-property,
.CodeMirror.cm-s-typora-default div.CodeMirror-cursor {
  color: #428bca;
}

.cm-s-typora-default .cm-atom,
.cm-s-typora-default .cm-number {
  color: var(--dim-text-color);
}

.preference-item-hint {
  margin-top: 16px;
}

.md-diagram-panel {
  margin-top: 24px;
  margin-left: -1.2em;
}
